node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
frontend/indirizzo.json
frontend/abi.json
frontend/abi.json
.gitignore
frontend/abi.json
